html,
body,
.content {
    height: 100%;
}

.hide {
    display: none;

}

.city-btn:hover{
    background-color: papayawhip;
    cursor: pointer;
}

.card {
    background-color: azure;
}



.city-info{
    border: rounded;
}
